.card {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    padding: 1%;
    margin-top: 30px;
    max-width: 80%;
    background-color: rgba(245, 246, 250, 1.0);
    font-family: "Josefin Sans", sans-serif;
    font-size: 3vw;
    border-radius: 10px;
    background-color: #242424 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    color: rgb(212, 212, 212);
    align-content: center;
    text-align: left;
    align-items: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.cardIcon{
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 20px;
}

/* Add some padding inside the card container */
.cardcontainer {
    padding: 2px 16px;
    background-color: #242424;
    min-height: 320px;
    max-width: 800px;
}

.cardHeader{
    background-color: #16a085;
    width:50% !important;
    font-weight:bold;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin-top:10px;
    border-radius:10px;
}
.cardText{
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
}

.cardFooter{
    background-color: #242424;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
    border-radius:12px;
}

.cardFooter:hover{
    background-color: #282828;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
    border-radius:12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

/* Card styles */
.cardAccent{
    background-color: #004d40 !important;
}
.cardContainerAccent{
    background-color: #004d40 !important ;
}
.cardAccentLight{
    background-color: #004d40 !important;
}
.cardContainerAccentLight{
    background-color: #004d40 !important ;
}
.cardDark{
    background-color: #212121 !important;
}
.cardContainerDark{
    background-color: #212121 !important ;
}


/* CardHeader Styles */
.cardHeaderDark{
    background-color: #212121 !important;
}

    background-color: #004d40 !important ;




/* Mobile */
@media (min-width: 480px) {
    .card {
        font-size: 3vw;
    }
    .cardText{
        font-size: 3vw;
    }
    
}

/* Desktop */
@media (min-width: 992px) {
    .card {
        font-size: 3vw;
    }
    .cardText{
        font-size: 3vw;
    }
    
}

/* Tablet */
@media (min-width: 800px) {
    .card {
        font-size: 3vw;
    }
    .cardText{
        font-size: 3vw;
    }
    
}


/* 4k */
@media (min-width: 1280px) {
    .card {
        font-size: 0.8vw;
        margin-top: 80px;
    }
    .cardText{
        font-size: 0.8vw;
    }

}
    