.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    color: rgb(212, 212, 212);
    align-content: center;
    text-align: left;
    align-items: center;
    background-color: #242424 !important;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
}

/* Add some padding inside the card container */
.container {
    padding: 30px;
    background-color: #242424 !important;
}

.sa-col {
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    flex-grow: 4;
}